<!-- registration.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form method="post" action="{{ url_for('registration') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

         <label for="gmail">Gmail:</label>
        <input type="email" id="gmail" name="gmail" required>


        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Register">
    </form>
    <p>If you are an existing user, please <a href="{{ url_for('user') }}">login</a>.</p>
</body>
</html>
